#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_install:
	install -Dpm 755 -d debian/tmp/usr/bin
	install -Dpm 755 -d debian/tmp/usr/lib/node_modules
	cp -rfT node_modules debian/tmp/usr/lib/node_modules
	chmod a+x debian/tmp/usr/lib/node_modules/*/bin/*
	ln -fs /usr/lib/node_modules/*/bin/* debian/tmp/usr/bin/

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
